{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Spyros Chatziargyros</title>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'home/default.css' %}">
	<link rel="stylesheet" href="{% static 'home/blue.css' %}">
</head>
<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, Spyros Chatziargyros</h1>
			</div>


			<div class="intro-wrapper">
				<div class="nav-wrapper">

					<!-- Link around dots-wrapper added after tutorial video -->
					<a href="index.html">
						<div class="dots-wrapper">
							<div id="dot-1" class="browser-dot"></div>
							<div id="dot-2" class="browser-dot"></div>
							<div id="dot-3" class="browser-dot"></div>
						</div>
					</a>
					

					<ul id="navigation">
						<li><a href="index.html#contact">Contact</a></li>

					</ul>
				</div>

				<div class="left-column">
					<img id="profile_pic" src="https://media-exp1.licdn.com/dms/image/C4D03AQHqtHIyhq14fw/profile-displayphoto-shrink_800_800/0/1609499081459?e=1650499200&v=beta&t=WVo9F6UXu4oXgLdXhppee-H-O9ZG4hYR1g6aOhRP3yc">
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am a software engineer</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container"> 
 
			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>Hardworking High-School Student seeking employment. I am dedicated and truly passionate about programming. </p>

					<hr>

					<h4>TOP EXPERTISE</h4>

					<p>Fullstack developer with primary focus on Django + Boorstrap</p>

					<div id="skills">
						<ol>
							<li>Python</li>
							<li>Django</li>
							<li>CSS</li>
							<li>Unity 3D & 2D Game developer</li>
							<li>Django Full stack web dev</li>
							<li>HTML/CSS</li>
						</ol>

					</div>

					<hr>

					<h4>Achievements</h4>

					<div id="skills">
						<ol>
							<li>Proven ability to teach others algorithms and data structures through an after-school class.</li>
							<li>Earned 24th place in local rank for the qualifying for IOI (International Olympiad Informatics, which is an annual programming competition and one of the International Science Olympiads for secondary school students) candidates.</li>
							<li>New to indie game development, published 1 game made with unity and c#.</li>
						</ol>


					</div>

				</div>

				
				<div class="social-links">
					<h3>Find me on Github</h3>
					<a target="_blank" href="https://github.com/SpyrosD3v25">Github: @Spyrosdev25</a>
				</div>
			</div>

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>

			<div class="post-wrapper">

				<div>
					<div class="post">
						<div class="post-preview">
							<h6 class="post-title">https://spyroswastaken.itch.io/one-room-one-cube</h6>
							<p class="post-intro">My first game (made in one week)</p>
							<a href="https://spyroswastaken.itch.io/one-room-one-cube">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<div class="post-preview">
							<h6 class="post-title">Exctract chrome passwords using python</h6>
							<p class="post-intro">A script that extracts chrome passwords stored on your computer using decryption and many other techniques!</p>
							<a href="https://github.com/SpyrosD3v25/Extract-Chrome-Passwords">Read More</a>
						</div>
					</div>
				</div>

				<div>
					<div class="post">
						<div class="post-preview">
							<h6 class="post-title">Port scanner with python</h6>
							<p class="post-intro">Port scanner like nmap</p>
							<a href="https://github.com/SpyrosD3v25/Port-Scanner">Read More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
</body>
</html>